@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Tangerine',cursive;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	
}
section {
	position: fixed; 
	width: 100%;
	height: 110% ;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Tangerine',cursive;
    background: linear-gradient(#dcdde1,#353b48);
    overflow: visible;
}

section h2 {
	margin-top: 80px;
	height: 577px;
	position: relative;
	text-align: center;
	font-size: 160px;
	color: #fff;
	text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	font-family: Tangerine;
    margin-bottom: 0;
}
section h2 span {
	font-size: 30px;
	font-family: Tangerine;
	position: absolute;
    top: 203px;
}
section h2:before{
	/*content: '';*/
	/*position: absolute;*/
	/*top: -44px;*/
	/*left: -100px;*/
	/*width: 200px;*/
	/*height: 200px;*/
	/*background: transparent;*/
	/*border-left: 15px solid #fff;*/
	/*border-radius: 50%;*/
	/*transform: rotate(-30deg);*/
	/*box-shadow: -14px 1px 10px rgba(0, 0, 0, 0.1);*/

    content: '';
    position: absolute;
    top: -18px;
    right: -100px;
    width: 200px;
    height: 200px;
    background: transparent;
    border-left: 15px solid #fff;
    border-radius: 50%;
    transform: rotate(201deg);
    box-shadow: -14px 1px 10px rgb(0 0 0 / 10%);

}

@media (max-width: 740px) {
	section h2 {
    	font-size: 4rem !important;
	}
	section h2:before{
        top: -76px;
        right: -56px;
	}
	section h2 span {
        font-size: 23px;
        font-family: Tangerine;
        position: absolute;
        top: 153px;
    }
}

.mosque{
	
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: url('mosque.png');
	background-repeat: repeat-x;
	background-size: 1200px;
	z-index: 1;
	pointer-events: none;
	animation: animate 20s linear infinite; 
} 
@keyframes animate {
	0% 
	{
		background-position: 0px;
	}
	100% 
	{
		background-position: 1200px;
	}
}
.mosque:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 600px;
	background: url('mosque.png');
	background-repeat: repeat-x;
	background-size: 1600px;
	z-index: 1;
	pointer-events: none;
	opacity: 0.1;
	animation: animateReverse 40s linear infinite; 
}
@keyframes animateReverse {
	0% 
	{
		background-position: 1600px;
	}
	100% 
	{
		background-position: 0px;
	}
}
.particles-js-canvas-el
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

} @keyframes animateReverse {
	0% 
	{
		background-position: 1600px;
	}
	100% 
	{
		background-position: 0px;
	}
}
.particles-js-canvas-el
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

} 